.builder-body
    --primary: #214f7e
    --secondary: #35b274
    --light: #f4f5f8
    --sidebar-width: 280px
    --header-height: 48px

    position: relative
    display: flex
    flex-direction: column
    height: 100vh
    overflow: hidden

.builder
    &-header
        position: relative
        box-shadow: 0 2px 4px rgba(black, .05)
        z-index: 50
        > .navbar
            height: var(--header-height)
    &-content
        position: relative
        flex-grow: 1
        background-color: #fcfcfe;
        background-image: radial-gradient(#d1d1dd 1px, #fcfcfe 1px);
        background-size: 20px 20px;
        margin: 0 0 0 var(--sidebar-width)
        overflow: auto
        &-sidebar
            position: fixed
            top: var(--header-height)
            bottom: 0
            display: flex
            flex-direction: column
            background-color: #fff
            z-index: 20
            &--left
                left: 0
                width: var(--sidebar-width)
                box-shadow: 2px 0 4px rgba(black, .05)
            &--right
                right: 0
                width: 50vw
                box-shadow: -4px 0 1.5rem rgba(black, .08)
                transform: translateX(30%)
                visibility: hidden
                opacity: 0
                transition: all .2s ease-in-out
                &.--show
                    transform: translateX(0)
                    opacity: 1
                    visibility: visible
                    display: flex

.console
    --console-header-height: 42px

    position: absolute
    right: 0
    bottom: 0
    left: var(--sidebar-width)
    display: flex
    flex-direction: column
    min-height: 290px
    height: 30%
    color: #fff
    background-color: #141c2b
    box-shadow: 0 -2px 4px rgba(black, .05)
    z-index: 10
    transition: all .2s ease-in-out
    &-header
        display: flex
        justify-content: space-between
        align-items: center
        height: var(--console-header-height)
        color: var(--light)
        background-color: #1c273c
        &-toggler
            flex: 1
            user-select: none
            cursor: pointer
            outline: none
            padding: .5rem 1rem
        &-actions
            padding: .5rem 1rem
        .btn-light
            background-color: transparent
            &:hover
                color: #fff
            &:active
                background-color: #141c2b !important
                color: #fff !important
    &-body
        flex-grow: 1
        max-height: 250px
        padding: .5rem 1rem
        font-size: .8125rem
        line-height: 1.75
        overflow-y: auto
    &.maximized
        height: calc(100vh - var(--header-height))
        .console-body
            max-height: unset
    &.minimized
        transform: translateY(calc(100% - var(--console-header-height)))

.builder-chat
    --chat-border-radius: .75rem

    position: fixed
    right: 2rem
    bottom: 2rem
    width: 360px
    z-index: 15
    box-shadow: 0 6px 30px rgba(black, .15)
    border-radius: var(--chat-border-radius)
    transition: all .2s ease-in-out
    &-header
        display: flex
        justify-content: space-between
        align-items: center
        background-color: var(--primary)
        color: #fff
        padding: .5rem 1rem
        border-top-left-radius: var(--chat-border-radius)
        border-top-right-radius: var(--chat-border-radius)
    &-body
        min-height: 60vh
        max-height: 60vh
        background-color: #fff
        overflow-x: hidden
        overflow-y: auto
    &-msg
        display: flex
        &-content
            position: relative
            display: inline-block
            padding: .5rem .75rem
            max-width: 90%
            line-height: 1.25
            font-size: 13px
            font-weight: 400
            border-radius: .875rem
        &:not(:last-child)
            margin-bottom: 1rem
        &.sent
            justify-content: flex-end
            .builder-chat-msg-content
                background-color: var(--light)
        &.received
            justify-content: flex-start
            .builder-chat-msg-content
                color: #fff
                background-color: var(--primary)
    &-footer
        display: flex
        align-items: stretch
        border-bottom-left-radius: var(--chat-border-radius)
        border-bottom-right-radius: var(--chat-border-radius)
        background-color: #fff
        .form-control
            background: none
        .builder-chat-btn_send
            border-bottom-right-radius: var(--chat-border-radius) !important
    &-input
        line-height: 1.25
        resize: none
        &:focus
            box-shadow: none
    &.minimized
        transform: translateY(calc( 100% - 42px ))
        .builder-chat-expand-icon
            display: block

.builder-nice-scrollbar
    &::-webkit-scrollbar
        width: 3px
        height: 3px
    &::-webkit-scrollbar-track
        background: white
        &:hover
            background: var(--light)
    &::-webkit-scrollbar-thumb
        background: lighten(darkgray, 20%)
        &:hover
            background: darkgray
    &--dark
        &::-webkit-scrollbar-track
            background: rgba(white, .1)
            &:hover
                background: rgba(white, .15)
        &::-webkit-scrollbar-thumb
            background: rgba(white, .15)
            &:hover
                background: rgba(white, .2)
    &--lg
        &::-webkit-scrollbar
            width: 6px
            height: 6px

.builder-tree
    padding-left: 0
    &-item
        display: flex
        background-color: var(--light)
        padding: .5rem 1rem
        min-width: 180px
        border-radius: .5rem
        font-size: .875rem
        line-height: 1.25
        box-shadow: 0 1px 2px rgba(black, .15)
        &:not(:last-child)
            margin-bottom: .5rem
        &.active
            border: 1px solid var(--primary)
            color: var(--primary)

    li
        position: relative
        list-style-type: none
        width: 100%
        &:before
            content: ""
            position: absolute
            top: -7px
            left: -20px
            border-left: 1px solid #ccc
            border-bottom: 1px solid #ccc
            border-radius: 0 0 0 0px
            width: 20px
            height: 15px
            border-bottom-left-radius: .5rem
        &:after
            position: absolute
            content: ""
            top: 8px
            left: -20px
            border-left: 1px solid #ccc
            border-top: 1px solid #ccc
            border-radius: 0px 0 0 0
            width: 20px
            height: 100%
            border-top-left-radius: .5rem
        &:last-child::after
            display: none
    ul
        margin: .5rem 0 .5rem 2rem
        padding-left: 0
        min-width: 180px

ul.builder-tree > li:first-child::before
    display: none

.builder-elem
    position: absolute
    display: flex
    flex-direction: row
    align-items: stretch
    width: 300px
    background-color: #fff
    box-shadow: 0 2px 6px rgba(black, .1)
    border-radius: .5rem
    min-height: 4rem
    cursor: pointer
    transition: transform .2s ease
    &:hover
        transform: scale(.95)
    &:focus, &.focus
        outline: none
    &.dragging
        cursor: grabbing !important
        opacity: .35
        box-shadow: 0 .5rem 1rem rgba(black, .2)
    &-indicator
        flex: 0 0 3rem
        display: flex
        align-items: center
        justify-content: center
        color: #fff
        background-color: var(--light)
        padding: .5rem
        &:first-child
            border-top-left-radius: .5rem
            border-bottom-left-radius: .5rem
        &:last-child
            border-top-right-radius: .5rem
            border-bottom-right-radius: .5rem
    &-content
        flex: 1 1 0
        display: flex
        flex-direction: column
        background-color: #fff
        padding: .5rem 1rem
        &:last-child
            border-top-right-radius: .5rem
            border-bottom-right-radius: .5rem

.builder-elem-small
    display: flex
    align-items: center
    padding: .5rem
    border-radius: .25rem
    border: 1px solid rgba(72, 94, 144, 0.16)
    cursor: grab
    transition: transform .1s ease
    &:not(:last-child)
        margin-bottom: 0.5rem
    &:hover
        background-color: rgba(black, .02)
    &.dragging, &:active
        cursor: grabbing
        transform: scale(.95)
        opacity: .5
        box-shadow: 0 .25rem .5rem rgba(black, .08)

.input-trash-gs5df
    position: relative
    .btn
        position: absolute
        top: 0
        right: 0
        bottom: 0
        z-index: 10
        &:focus, &:hover
            opacity: 1 !important
    .form-control
        ~ .btn
            opacity: 0
        &:focus ~ .btn
            opacity: 1

.builder-btn-rounded
    display: inline-flex
    justify-content: center
    align-items: center
    padding: .25rem
    width: 32px
    height: 32px
    border-radius: 100%